body {
    margin: 0px;
    padding: 33px 160px;
}

header .navbar > a {
    font-weight: bold;
    font-size: 36px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 56px;
}

.navbar a {
    text-decoration: none;
    color: #424241;
    font-size: 18px;
}

header figure {
    z-index: -1;
    width: 60%;
    position: absolute;
    right: -70px;
    top: -20px;
}

.hero { 
    h1 {
    width: 50%;
    text-transform: uppercase;
    line-height: 120px;
    font-size: 120px;
    margin-bottom: 0;
        span {
            color: #7EDAD2;
        }
    }
    p {
        font-size: 24px;
        line-height: 40px;
        color: #909090;
        width: 40%;
    }
    section.rates {
        display: flex;
        gap: 80px;
        text-align: center;
        margin-top: 56px;
        div div:first-of-type {
            font-size: 48px;
            font-family: "Bebas Neue", sans-serif;
        }
    }
}

section.categories {
    display: flex;
    gap: 32px;
    margin-top: 64px;
    article {
        background-color: white;
    }
    h2 {
        font-weight: bold;
    }
    h2.hidden {
        visibility: hidden;
    }
}
