@import './abstracts/abstracts';
@import './vendors/vendors';
@import './base/base';
@import './components/components';
@import './layout/layout';
@import './pages/pages';
@import './themes/themes';
@import 'settings';




h1 {
    text-align: center;
    &::after {
        content: ": Móbil";
    }
    @include breakpoint(tablet){
        &::after {
            content: ": Tablet";
        }
    }
    @include breakpoint(tablet-horizontal){
        &::after {
            content: ": Tablet Horizontal";
        }
    }
    @include breakpoint(desktop){
        &::after {
            content: ": Desktop";
        }
    }
    @include breakpoint(desktop-xl){
        &::after {
            content: ": Desktop-XL";
        }
    }
}


div.caja-1 {
    background-color: #FB6F50;
}

div.caja-2 {
    background-color: #E44927;
}

div.caja-3 {
    background-color: #FDB9AA;
}


div.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 600px 500px 500px;
    text-align: center;
    font-weight: bold;
    
    @include breakpoint(tablet){
        grid-template-rows: 600px 300px 300px;
    }
    
    @include breakpoint(tablet-horizontal){
        grid-template-columns: 25% 75%;
        grid-template-rows:  repeat(3, 300px);
        
        div.caja-1, div.caja-2 {
            grid-row: 1 / span 2;
        }

        div.caja-3 {
            grid-column: 1 / span 2;
        }
    }
    
    @include breakpoint(desktop){
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 600px;

        div.caja-1, div.caja-2 {
            grid-row: 1 / span 1;
        }

        div.caja-3 {
            grid-column: 3 / span 1;
        }
    }

    @include breakpoint(desktop-xl) {
        max-width: 1440px;
        margin: auto;
    }
}

