h1 {
    text-align: center;
}

.index h1 {
    font-size: xxx-large;
}

.index ul {
    font-size: xx-large;
    margin-left: 20px;
}

.index a, .index li {
    padding: 10px 0px;
}

.index a:hover {
    background-color: rgb(195, 195, 195);
    color: rgb(0, 0, 0);
}

footer {
    margin: 20px 0px;
}

footer a {
    font-size: xx-large;
    padding: 10px;
    background-color: gainsboro;
    border: 2px solid black;
    font-weight: bold;
    float: right;
}

footer a:hover {
    background-color: gray;
    color: black;
}


/*---------general---------*/

main {
    max-width: 800px;
    margin: auto;
    gap: 5px;
}

main div {
    background-color: rgb(130, 130, 143);
    color: white;
    text-align: center;
    padding: 30px;
    font-size: xx-large;
    
}


/*-----------ejercicio 1----------------*/

.ejercicio1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


/*-----------ejercicio 2----------------*/

.ejercicio2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.ejercicio2 div:first-of-type {
    grid-column: 1 / span 3;
}


/*-----------ejercicio 3----------------*/

.ejercicio3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.ejercicio3 div:first-of-type {
    grid-column: 1 / span 3;
}

.ejercicio3 div:nth-of-type(2) {
    grid-row: 2 / span 2;
}


/*-----------ejercicio 4----------------*/

.ejercicio4 {
    display: grid;
    grid-template-areas: 'header header header'
                        'side . .'
                        'side . .';
}

.ejercicio4 div:first-of-type {
    grid-area: header;
}

.ejercicio4 div:nth-of-type(2) {
    grid-area: side;
}

/*-----------ejercicio 5----------------*/

.ejercicio5 {
    display: grid;
    grid-template-areas: 'header header header side'
                        '   .      .      .    side';
}

.ejercicio5 div:first-of-type {
    grid-area: header;
}

.ejercicio5 div:nth-of-type(2) {
    grid-area: side;
}

/*-----------ejercicio 6----------------*/

.ejercicio6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.ejercicio6 div:nth-of-type(1) {
    grid-column: 1 / span 3;
}

.ejercicio6 div:nth-of-type(2) {
    grid-column: 4 / span 3;
}

.ejercicio6 div:nth-of-type(3) {
    grid-column: 1 / span 2;
}

.ejercicio6 div:nth-of-type(4) {
    grid-column: 3 / span 4;
}

.ejercicio6 div:nth-of-type(5) {
    grid-column: 1 / span 6;
}


/*-----------ejercicio 7----------------*/

.ejercicio7 {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(3, auto);
}

.ejercicio7 div:nth-of-type(1) {
    grid-column: 2 / 3;
    background-color: rgb(165, 77, 42);
}

.ejercicio7 div:nth-of-type(4) {
    grid-column: 1 / span 2;
    background-color: rgb(63, 63, 63);
}


/*-----------ejercicio 8----------------*/


.ejercicio8 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.ejercicio8 div:nth-of-type(1) {
    order: 1;
}

/*-----------ejercicio 9----------------*/

.ejercicio9 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
}



/*-----------ejercicio 10----------------*/

.ejercicio10 {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.ejercicio10 > div:nth-of-type(4) {
    grid-row: 2 / span 2;
    grid-column: 2/ span 1;
}

.grid_anidado {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.grid_anidado div:first-of-type {
    grid-column: 1 / span 2;
}

.grid_anidado div {
    background-color: rgb(196, 157, 231);
}