h1 {
    text-align: center;
}

.index h1 {
    font-size: xxx-large;
}

.index ul {
    font-size: xx-large;
    margin-left: 20px;
}

.index a, .index li {
    padding: 10px 0px;
}

.index a:hover {
    background-color: rgb(195, 195, 195);
    color: rgb(0, 0, 0);
}

footer {
    margin: 20px 0px;
}

footer a {
    font-size: xx-large;
    padding: 10px;
    background-color: gainsboro;
    border: 2px solid black;
    font-weight: bold;
    float: right;
}

footer a:hover {
    background-color: gray;
    color: black;
}

/*------Plantilla genral ---------*/


main.ejercicios {
    border: 2px solid red;
    width: 500px;
    height: 250px;
    margin: auto;
    font-size: xx-large;
    color: white;
    font-weight: normal;
}

.ejercicios div:nth-child(1) {
    background-color: #58B99D;
}

.ejercicios div:nth-child(2) {
    background-color: #5296D5;
}

.ejercicios div:nth-child(3) {
    background-color: #925CB1;
}

.ejercicios div:nth-child(4) {
    background-color: #38485C;
}

.ejercicios div:nth-child(5) {
    background-color:#EAC645;
}

.ejercicios div:nth-child(6) {
    background-color: #D8833B;
}

.ejercicios div:nth-child(7) {
    background-color: #D65745;
}

.ejercicios div:nth-child(8) {
    background-color: #BEC3C7;
}

.ejercicios div:nth-child(9) {
    background-color: #65C97A;
}

.ejercicios div:nth-child(10) {
    background-color: #4A9E86;
}

/*--------------Ejercicio 1 --------------*/

main.ejercicios.uno {
    display: flex;
}

.uno div {
    padding: 4px 0px;
}

/*--------------Ejercicio 2 --------------*/

main.ejercicios.dos {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;
}

/*--------------Ejercicio 3 --------------*/

main.ejercicios.tres {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

main.ejercicios.tres div {
    width: 33.33%;
}

/*--------------Ejercicio 4 --------------*/

main.ejercicios.cuatro {
    display: flex;
    text-align: center;
    height: auto;
}

main.ejercicios.cuatro div {
    flex: 1;
}

.cuatro div:nth-of-type(5) {
    order: -1;
}

.cuatro div:nth-of-type(6) {
    order: 1;
}

/*--------------Ejercicio 5 --------------*/

main.ejercicios.cinco {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
    justify-content: space-between ;
}

/*--------------Ejercicio 6 --------------*/

main.ejercicios.seis {
    display: flex;
    align-items: baseline;
}

.seis div {
    padding: 4px;
}

.seis div:nth-of-type(1) {
    font-size: 8px;
}
.seis div:nth-of-type(2) {
    font-size: 25px;
}
.seis div:nth-of-type(3) {
    font-size: 40px;
}
.seis div:nth-of-type(4) {
    font-size: 60px;
}
.seis div:nth-of-type(5) {
    font-size: 3px;
}
.seis div:nth-of-type(10) {
    font-size: 30px;
}


/*--------------Ejercicio 7 --------------*/

main.ejercicios.siete {
    display: flex;
    flex-wrap: wrap ;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.siete div {
    width: 33.33%;
}

/*--------------Ejercicio 8 --------------*/

main.ejercicios.ocho {
    display: flex;
    text-align: center;
    align-items: start;
}

.ocho div {
    flex: 1;
}

.ocho div:nth-of-type(2) {
    align-self: stretch;
}

.ocho div:nth-of-type(6) {
    align-self: center;
}

.ocho div:nth-of-type(9) {
    align-self: end;
    padding-bottom: 15px;
}