@use './mixins' as *;
@use './variables' as *;

a.button-1 {
    padding: 14px 30px;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-weight: 700;
    text-decoration: none;
    &:hover {
        background-color: white;
        color: black;
        transition: ease-in 0.2s;
    }
}

a.button-2 {
    padding: 14px 30px;
    color: white;
    border-radius: 50px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(25, 25, 25);
    &:hover {
        background-image:  linear-gradient(
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0.5) 100%);
        }
        transition: ease-in 0.2s;

}

a.button-3 {
    padding: 14px 30px 14px 0px;
    color: blue;
    border-radius: 50px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}

button {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    &:hover {
        background-color: gray;
        color: black;
        transition: ease-in 0.2s;

    }
}
