@use './mixins' as *;
@use './variables' as *;

main.contacto {
    h1 {
        text-align: center;
        font-size: 64px;
    }
    section.ubicacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        ul {
            @include reset-list()
        }
    }
    li {
        margin-bottom: 20px;                
        a {
            color: gray;
        }
    }
    span {
        font-weight: 800;
        font-size: 20px;
        display: block;
    }


    form {
        width: 70%;
        margin: auto;
        fieldset {
            text-align: center;
            legend {
                font-size: 34px;
                font-weight: 800;
            }
            div.log {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            label {
                font-size: 24px;
            }
            input, textarea {
                background-color: gray;
                &:focus {
                    border: 5px solid green;
                }
                &:invalid {
                    border: 5px solid red;
                }
            }
        }
    }
}