@use './mixins' as *;
@use './variables' as *;

footer  {
    background-color: black;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    @include breakpoint(desktop) {
        padding: 40px 120px;
    }
    a {
        color: gray;
    }
}