@use './mixins' as *;
@use './variables' as *;

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 120px;
    padding-top: 20px;
    @include breakpoint(tablet) {
        flex-flow: column;
        gap: 20px;
    }
    figure {
        margin: 0;
        margin-top: 5px;
        img {
            @include breakpoint(tablet) {
                width: 400px;
            }
        }
    }
    nav {
        display: flex;
        gap: 5px;
        @include breakpoint(tablet) {
                font-size: 40px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto auto;
                text-align: center;
        }
        a {
            text-decoration: none;
            color: white;
            background-color: black;
            padding: 10px 30px;
            border-radius: 8px;
            &:hover{
                background-color: white;
                color: black;
            }
        }
    }
}

