@use './mixins' as *;
@use './variables' as *;

main {
    padding: 0px 120px;
    @include breakpoint(tablet) {
        a {
            font-size: 40px;
        }           
    }
    section.hero {
        position: relative;
        margin: auto;
        display: grid;        
        grid-template-columns: 1fr 1fr;
        @include breakpoint(tablet) {
            grid-template-columns: auto;
            text-align: center;
        }
        h1 {
            font-size: 60px;
            margin-top: 40px;
            margin-bottom: 20px;
            @include breakpoint(tablet) {
                font-size: 70px;
            }
        }
        h2 {
            font-size: 34px;
            margin-bottom: 10px;
        }
        p {
            @include breakpoint(tablet) {
                font-size: 34px;   
                width: 80%;
                margin: auto;
            }
        }
        a {
            display: inline-block;
            @include breakpoint(tablet) {
                margin: 30px 0px;
                font-size: 40px;
            }
        }
        img {
            padding: 20px 0px;
            width: 90%;
            margin: auto;
        }
    }
    section.ultimos-cursos {
        h2 {
            font-size: 34px;
            text-align: center;
            margin-bottom: 15px;
            @include breakpoint(tablet) {
                font-size: 70px;   
            }
        }
        p {
            text-align: center;
            @include breakpoint(tablet) {
                font-size: 40px;   
            }
        }
        section.cursos {
            display: grid;
            grid-template-columns: 40% 40%;
            justify-content: space-around;
            @include breakpoint(tablet) {
                grid-template-columns: auto;
            }
            article {
                text-align: center;
                h3 {
                    font-size: 24px;
                    @include breakpoint(tablet) {
                        font-size: 50px;
                    }
                }
                img {
                    width: 400px;
                    height: 300px;
                    object-fit: cover;
                    @include breakpoint(tablet) {
                        width: 90%;
                        height: 600px;
                    }
                }
            }
        }
    }
    section.ultimas-noticias {
        text-align: center;
        margin-bottom: 50px;
        h2 {
            font-size: 34px;
            @include breakpoint(tablet) {
                font-size: 70px;
            }
        }
        div.noticias {
            display: grid;
            grid-template-columns: 40% 40%;
            justify-content: space-around;
            a {
                text-decoration: none;
                color: white;
                position: relative;
                &:hover article {
                    background-image:  linear-gradient(
                        rgba(255, 255, 255, 0.5) 0%,
                        rgba(255, 255, 255, 0.5) 100%);
                    }
                &:hover div {
                    opacity: 1;
                }
                article {
                    text-align: center;
                    background-color: rgb(22, 22, 22);
                    padding: 40px;
                    border-radius: 8px;
                    h3 {
                        font-size: 24px;
                        @include breakpoint(tablet) {
                            font-size: 50px;
                        }
                    }
                }
                div {
                    position: absolute;
                    top: 40%;
                    left: 34%;
                    background-color: black;
                    color: white;
                    padding: 20px;
                    border-radius: 8px;
                    opacity: 0;
                }
            }
        }
        a {
            display: inline-block;
            text-decoration: none;
            color: white;
            margin-top: 20px;
            padding: 10px 20px;
            &:hover {
                background-color: gray;
                border-radius: 8px;
                color: black;
                text-decoration: underline;
            }
        }
    }
}