@use './mixins' as *;
@use './variables' as *;

main.registro {
    h1 {
        text-align: center;
        font-size: 64px;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include breakpoint(tablet) {
            grid-template-columns: auto;
            text-align: center;
        }
        fieldset {
            legend {
                font-size: 34px;
                font-weight: 800;
                @include breakpoint(tablet) {
                    font-size: 50px;
                }
            }
            label {
                font-size: 24px;
                @include breakpoint(tablet) {
                    font-size: 50px;
                }
            }
            input {
                background-color: gray;
                @include breakpoint(tablet) {
                    font-size: 34px;
                }
                &:focus {
                    border: 5px solid green;
                }
                &:invalid {
                    border: 5px solid red;
                }
            }
            textarea {
                background-color: gray;
            }
        }
    }
}