@use './layout/variables' as *;
@use './layout/mixins' as *;
@use './layout/buttons' as *;
@use './layout/header' as *;
@use './layout/your-day-at-the-gallery' as *;
@use './layout/footer' as *;
@use './layout/our_location' as *;

* {
    box-sizing: border-box;
}

html {
    font-family: $base-font;
}

body {
    margin: 0;
    padding: 0;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
}
