@use './mixins' as *;
@use './variables' as *;




section.navbar a {
    text-decoration: none;
}

body > header div.img img {
    width: 100%;
}

body > header {
    margin-bottom: 140px; 
    @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 800px;
    }

    & div>img:nth-of-type(1) {
        @include breakpoint(tablet) {
        display: none;
    }
    }

    & div>img:nth-of-type(2) {
        display: none;
        @include breakpoint(tablet) {
            display: block;
            height: 900px;
            object-fit: cover;
    }
    } 

    & > div:nth-of-type(1) {
        @include breakpoint(tablet) {
            width: 125%;
        }
    }

    & > div:nth-of-type(2) {
        @include breakpoint(tablet) {
        background-image: linear-gradient(white);
        background-repeat: no-repeat;
        background-position: 80px 0px;
        padding-top: 100px;
        padding-bottom: 50px;
        }
    }

    & h1 {
        font-size: 64px;
        font-family: $title-font;
        font-weight: 900;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 60px;
        @include breakpoint(tablet) {
            font-size: 68px;
            line-height: 64px;
            padding-top: 40px;
        }    
    }

    & p {
        color: $dark-grey;
        padding: 0px 20px;
        font-size: 20px;
        line-height: 28px;
        @include breakpoint(tablet) {
            margin-bottom: 54px;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
        }    
    }

    @include breakpoint(desktop) {
        padding-left: 33%;
        background-color: $black;
        height: 100%;
        h1 {
            position: absolute;
            left: 10%;
            color: white;
            font-size: 96px;
            line-height: 88px;
        }
        div.content {
            padding-right: 120px;
        }
        p {
            margin-top: 100px;
            margin-bottom: 70px;
            font-size: 22px;
        }

    }
}