section.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
    position: relative;
    align-items: center;
}

.navbar ul a {
    text-decoration: none;
    color: $grey;
}

.navbar aside .button-1 {
    color: white;
}

.navbar aside a {
    position: relative;
}

.navbar aside li:nth-of-type(1)::after {
    content: "";
    background-color: $orange;
    padding: 4px;
    border-radius: 20px;
    position: absolute;
}

ul.principal a.active, ul.principal a:hover {
    color: $orange;
}

.navbar ul.principal a.active::before, ul.principal a:hover::before {
    content: "";
    background-color: $orange;
    padding: 2px 24px;
    position: absolute;
    top: 20px;
}

.navbar a.sign-in {
    color: $orange;
    text-decoration: underline;
}

