@use './layout/variables' as *;
@use './layout/mixins' as *;
@use './layout/buttons' as *;
@use './layout/header' as *;
@use './layout/home' as *;
@use './layout/footer' as *;

* {
    box-sizing: border-box;
    width: 100%;
}

html {
    font-family: $base-font;
}

body {
    margin: 0;
    padding: 0;
    background-color: $black;
    margin-left: auto;
    margin-right: auto;
}
