html {
    font-size: 18px;
}

body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Cambria, Times, 'Times New Roman', serif;
    color: #1F497D;
    background-color: #BFBFBF;
    font-size: 24px;
    letter-spacing: 0.5em;
    word-spacing: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #632423;
    font-size: 18px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

ul * {
    font-weight: bold;
    font-style: italic;
}

strong {
    font-weight: normal;
    font-variant: small-caps;
}


/*--------Index Button--------*/
.index_button {
    font-size: large;
    padding: 10px 30px;
    background-color: gainsboro;
    border: 2px solid black;
    font-weight: bold;
}

.index_button:hover {
    background-color: gray;
    color: black;
}
/*--------------------------*/