h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

strong {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


/*--------Index Button--------*/
.index_button {
    font-size: large;
    padding: 10px 30px;
    background-color: gainsboro;
    border: 2px solid black;
    font-weight: bold;
}

.index_button:hover {
    background-color: gray;
    color: black;
}
/*--------------------------*/