div {
    border: 2px, solid, black;
    width: 250px;
    height: 150px;
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
}

div.colombia {
    background: linear-gradient(yellow 40%, blue 40% 72%, red 72%);
}

div.francia {
    background: linear-gradient(
        to right, red 33%, white 33% 66%, blue 66%
    );
}

div.italia {
    background: linear-gradient(
        to right, green 33%, white 33% 66%, red 66%
    );
}

div.alemania {
    background: linear-gradient(black 33%, red 33% 66%, yellow 66%);
    color: white;
}

div.japon {
    background: radial-gradient(circle, red 33%, white 33%);
}

div.polonia {
    background: linear-gradient(white 50%, red 50%);
}