.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

nav .icon {
    width: 2em;
}


/*--------Index Button--------*/
.index_button {
    font-size: large;
    padding: 10px 30px;
    background-color: gainsboro;
    border: 2px solid black;
    font-weight: bold;
}

.index_button:hover {
    background-color: gray;
    color: black;
}
/*--------------------------*/
