@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: 768px) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: 1024px) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin white-cube() {
  background-color: white;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  width: max-content;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 10px 13px 35px -18px
}
