$light-blue: #666CA3;
$dark-blue: #13183F;
$grey: #83869A;
$pink: #F74780;
$light-pink: #FFA7C3;
$gradient-orange-pink: linear-gradient(#FF6F48, #F02AA6);
$gradient-blue-purple: linear-gradient(#4851FF, #F02AA6);
$gradient-light-white: linear-gradient(#FFFFFF, #F0F1FF);
$base-font: "Plus Jakarta Sans", sans-serif;

