body {
    margin: 0;
}

ul.index {
    font-size: xx-large;
    margin-left: 30px;
}

ul.index li {
    padding: 10px;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    position: absolute;
    padding: 11px 0;
    bottom: 0;
    right: 0;
}

footer a {
    font-size: xx-large;
    padding: 10px;
    background-color: gainsboro;
    border: 2px solid black;
    font-weight: bold;
}

header.ejercicio1 h1 {
    background-color: rgb(46, 46, 46);
    color: white;
    margin: 0;
    padding: 25px 20px;
}

.ejercicio1 ul {
    list-style: none;
    background-color: rgb(168, 168, 168);
    padding: 15px 0px;
    display: flex;
    margin: 0;
}

.ejercicio1 a {
    padding: 15px 25px;
    text-decoration: none;
    color: black;
}

.ejercicio1 a:hover {
    background-color: rgb(81, 81, 81);
    color: white;
}

.ejercicio1.dos ul {
    justify-content: center;
}

.ejercicio1.tres ul {
    justify-content: space-between;
}

.ejercicio1.cuatro ul {
    flex-direction: column;
    display: inline-block;
    padding: 0;
}

.ejercicio1.cuatro li {
    padding: 15px 0px;
}

.ejercicio1.cuatro a {
    padding-right: 250px;
}

section.img {
    display: flex;
    margin-top: 20px;
    background-color: rgb(168, 168, 168);
}

.img img {
    border: 2px dotted black;
}

section.img.seis {
    gap: 15px;
    padding: 15px 5px;
}

/*----------------ejercicio 07 -----------------*/

header.siete h1 {
    text-align: right;
    font-weight: lighter;
    padding: 15px;
}

section.viajes {
    display: flex;
}

.viajes article {
    width: 33.33%;
    padding: 10px
}

.viajes img {
    width: 100%;
    aspect-ratio: 2/1;
}

.polonia {
    background-color: rgb(135, 163, 192);
}

.oporto {
    background-color: rgb(169, 199, 123);
}

.malta {
    background-color: rgb(209, 246, 246);
}
