
body {
    margin: 0px 10px;
}

header img {
    max-width: 70px;
}

header section {
    display: flex;
    font-size: x-large;
    justify-content: center;
    background-color: #B4FF6B;
    color: rgb(81, 81, 81);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav {
    background-color: #73A345;
}

header nav ul {
    list-style: none;
    padding: 10px 0px;
    margin: 0;
    display: flex;
}

header a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}

header li+li::before {
    content: ' I ';
    color: white;
}

header a:hover {
    background-color: green;
}

.portada img {
    width: 100%;
    max-height: 200px;
}

.modalidades article {
    border: 5px solid;
    margin: 30px 0px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
}

.modalidades h2 {
    margin: 5px 0px;
    text-transform: uppercase;
}
.modalidades img {
    width: 70px;
}

.casasrurales {
    background-color: #FDFCB7;
}

.camping {
    background-color: #D3FFAC;
}

.hoteles {
    background-color: #B8E3FF;
}

aside {
    background-color: rgb(217, 217, 217);
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
}

aside article, aside h2 {
    margin: 30px 25px;
    color: gray;
}

aside h2 {
    text-transform: uppercase;
    font-style: italic;
}

img.usuario {
    width: 100px;
}

img.star {
    width: 30px;
}

footer {
    margin: 20px 0px;
}

footer a {
    font-size: xx-large;
    padding: 10px;
    background-color: gainsboro;
    border: 2px solid black;
    font-weight: bold;
    float: right;
}