@use './mixins' as *;
@use './variables' as *;

footer  {
    background-color: $dark-grey;
    padding: 50px 20px;
    color: white;
    position: relative;
    @include breakpoint(desktop){
        padding: 50px 160px; 
        max-width: 2000px;
        margin: auto;           
    }
    section.contact {
        @include breakpoint(desktop){
            display: grid;
            grid-template-columns: auto auto;
            margin-top: 30px;
        }
        div.content {
            text-align: center;
            @include breakpoint(desktop){
                text-align: left;
            }
            h2 {
                font-size: 40px;
                margin-bottom: 10px;
                @include breakpoint(tablet){
                    font-size: 72px;
                    margin-top: 0px;
                }
                @include breakpoint(desktop){
                    font-size: 88px;
                    margin-bottom: 40px;
                }
            }
            p {
                font-size: 16px;
                color: $grey;
                @include breakpoint(tablet){
                    font-size: 18px;
                    width: 60%;
                    margin: auto;
                    margin-bottom: 40px;
                }
                @include breakpoint(desktop){
                    margin: 0;
                    width: 80%;
                }
            }
        }
        form {
            @include breakpoint(tablet){
                width: 70%;
                margin: auto;
            }
            @include breakpoint(desktop){
                width: 100%;   
                margin-right: 0px;
            }
            input, textarea {
                background-color: transparent;
                border: none;
                border-bottom: 2px solid $grey;
                font-size: 16px;
                font-weight: 500;
                padding: 20px;
                color: white;
                width: 100%;
                &::placeholder{
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 500;
                    font-family: $base-font;
                }
                &:focus {
                    border-bottom: 4px solid $green;
                }
                &:invalid {
                    border-bottom: 4px solid red;
                }
            }
            textarea {
                height: 200px;
                margin-bottom: 20px;
            }
            button {
                float: inline-end;
                margin-bottom: 100px;
            }
        }
        img.decoration {
            position: absolute;
            left: -50%;
            bottom: 300px;
            height: 130px;
            @include breakpoint(tablet){
                left: -80%;
                bottom: 170px;
            }
            @include breakpoint(desktop){
                width: 400px;
                left: 0px;
                height: 250px;
                object-fit: cover;            
                object-position: 100% 0;
            }

        }
    }    
    section.low-navbar {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        padding: 30px 0px 20px;
        position: relative;
        z-index: 1;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
        @include breakpoint(tablet){
            grid-template-columns: auto auto;
            justify-content: space-between;
            width: 100%;
        }
        ul {
            @include reset-list();
            display: flex;
            gap: 20px;
        }
        a:hover path {
            fill: $green;
        }
    }
}