h1 {
    text-align: center;
}

.index h1 {
    font-size: xxx-large;
}

.index ul {
    font-size: xx-large;
    margin-left: 20px;
}

.index a, .index li {
    padding: 10px 0px;
}

.index a:hover {
    background-color: rgb(195, 195, 195);
    color: rgb(0, 0, 0);
}

footer {
    margin: 20px 0px;
}

footer a {
    font-size: xx-large;
    padding: 10px;
    background-color: gainsboro;
    border: 2px solid black;
    font-weight: bold;
    float: right;
}

footer a:hover {
    background-color: gray;
    color: black;
}


/*---------Ejercicio 1---------*/

table.table1 {
    border: 1px solid rgb(229, 229, 229);
    width: 900px;
    text-align: center;
    margin: auto;
    border-spacing: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table1 th, .table1 td {
    padding: 15px;
}

.table1 th {
    background-color: black;
    color: white;
}

.table1 tr:nth-child(odd) {
    background-color: rgb(229, 229, 229);
}

/*---------Ejercicio 2---------*/

table.table2 {
    width: 600px;
    text-align: center;
    margin: auto;
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-bottom: #43967B 3px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.table2 th, .table2 td {
    padding: 15px;
}

.table2 th {
    background-color: #43967B;
    color: white;
}

.table2 tr:nth-child(even) {
    background-color: rgb(238, 237, 237);
    color: #43967B;
    font-weight: bold;
}


/*---------Ejercicio 3---------*/


table.table3 {
    width: 500px;
    text-align: center;
    margin: auto;
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: 1px solid black;
    font-weight: bold;

}

.table3 th, .table3 td {
    padding: 15px;
}

.table3 thead th {
    background-color: rgb(58, 58, 58);
    color: white;
}

.table3 tr:nth-child(even) {
    background-color: rgb(238, 237, 237);
}

.table3 tbody tr:nth-of-type(2n+1) th {
    background-color: #3F65C5;
    color: white;
    text-align: left;
}

.table3 tbody tr:nth-of-type(2n) th {
    background-color: #2F54C5;
    color: white;
    text-align: left;
}

.table3 tbody tr:nth-of-type(3) td:nth-of-type(2) {
    background-color: #F9D949;
}


/*---------Ejercicio 4---------*/


table.table4 {
    width: 900px;
    text-align: center;
    margin: auto;
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.table4 th, .table4 td {
    padding: 30px;
}



.table4 tbody tr:nth-child(odd) {
    background-color: rgb(238, 237, 237);
}

.table4 a {
    text-decoration: none;
}

.table4 a.progress {
    border: 1px solid green;
    padding: 10px 20px;
    background-color: #43967B;
    color: white;
    border-radius: 7px;
    font-weight: bold;
}

.table4 a.open {
    border: 1px solid rgb(230, 191, 63);
    padding: 10px 20px;
    background-color: rgb(230, 191, 63);
    color: black;
    border-radius: 7px;
    font-weight: bold;
}

.table4 a.on_hold {
    border: 1px solid rgb(187, 70, 70);
    padding: 10px 20px;
    background-color: rgb(187, 70, 70);
    color: white;
    border-radius: 7px;
    font-weight: bold;
}

.table4 a:hover {
    background-color: rgb(0,0,0,0.5);
}


/*---------Ejercicio 5---------*/


table.table5 {
    min-width: 900px;
    text-align: left;
    margin: auto;
    border-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: 50px solid #19191D;
}

.table5 th, .table5 td {
    border-top: 5px solid #19191D;
}

.table5 th, .table5 td {
    padding: 30px;
}

.table5 thead {
    background-color: #19191D;
    color: white;
}

.table5 tbody {
    background-color: #25252A;
    color: rgb(175, 175, 175);
}

.table5 span {
    font-size: 18px;
    margin: 0;
    color: #707070;
}

.table5 tbody th {
    color: #707070;
}

.table5 tbody td:nth-of-type(3) {
    color: #707070;
}

.table5 tbody td:nth-of-type(4) {
    color: #707070;
}

/*---------Ejercicio 6---------*/


table.table6 {
    min-width: 900px;
    text-align: center;
    margin: auto;
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.table6 caption {
    font-size: x-large;
    background-color: #F8F9FD;
    padding: 10px;
}

.table6 thead {
    background-color: #5F13EF;
    color: white;
}

.table6 th, .table6 td {
    padding: 40px;
}

.table6 tbody th, .table6 td {
    border: 0.1px solid #EDEFF9;
}

.table6 tbody th {
    background-color: #E9EBF7;
}

.table6 tbody td:nth-of-type(2n) {
    background-color: #F4F6FB;
}

.table6 tbody td:nth-of-type(2n+1) {
    background-color: #FFFFFF;
}

.table6 a {
    text-decoration: none;
    background-color: #5F13EF;
    color: white;
    padding: 12px 15px;
    border-radius: 5px;
}
.table6 a:hover {
    background-color: #420da4;
}

/*---------Ejercicio 7---------*/

.lista1 {
    width: 600px;
    margin: auto;
    list-style: none;
    padding: 0;
    font-size: x-large;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
}

.lista1 li+li {
    border-top: 1px solid gray;
}

.lista1 li {
    padding: 20px;
    display: flex;
    position: relative;
}

.lista1 span {
    position: absolute;
    right: 40px;
    background-color: #3579F6;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.lista1 li:hover {
    background-color: #3579F6;
    color: white;
}

.lista1 li:hover span {
    background-color: white;
    color: black;
}


/*---------Ejercicio 8---------*/


.ejercicio8 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.ejercicio8 ul {
    border: 1px solid gray;
    font-size: x-large;
}

.ejercicio8 li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.lista2 {
    list-style-image: url(./check-circle.svg);
}

.lista3  {
    list-style-image: url(./flecha-24.png);    
}

.lista4 li::marker {
    color: red;
}

/*---------Ejercicio 9---------*/

.body {
    background: whitesmoke;
}

.lista5 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.4rem;
    width: 600px;
    background: white;
    box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
    margin: auto;
    list-style-position: inside;
    padding: 20px 0px;
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.4 16.2c-2.3-2.3-5.4-3.5-8.4-4.5-.5-.2-1.1-.3-1.6-.5-1.6-1.6-3.7-2.8-6.2-3.2-1-.2-1.9.1-2.5.6-.9-.3-1.8-.6-2.7-.8-3.2-1-6.4-1.8-9.5-.1-1 .5-1.9 1.2-2.7 2-6.4 1.4-11.7 5-12.4 12.7C0 27 1.9 31.5 4.9 34.9c.1.6.2 1.1.4 1.7 1 3.2 3.3 5.7 6.7 6.5 2.7.6 5.4-.2 7.9-1.2 3.3.4 6.7.3 9.9 0 6.5-.7 13.3-2.8 17.1-8.5 3.6-5.2 4-12.6-.5-17.2zm-17.3.9c2.1.4 4 1.7 4.7 3.8 0 .5-.1 1.1-.2 1.6-.3 1.4-.8 2.6-1.6 3.7-.7.2-1.5.1-2.3-.4-.8-.4-1.6-1-2.2-1.6-.4-.4-1.2-1.7-1.6-1.9 3.4 1.3 5.1-3 3.2-5.2zm-11.6 9.7c.2-1.9 1.1-3.9 2.3-5.5-.4 2.1.3 4.2 1.7 6 1.3 1.7 3.1 3.2 5 4.2-.2.1-.4.2-.6.4-.1 0-.1.1-.2.1-3.9.2-8.7-.8-8.2-5.2zm-6.4 3.1c.1.3.1.7.2 1 .2.6.4 1.2.7 1.8-.4-.2-.7-.5-1-.7.1-.8.1-1.4.1-2.1zm31.2-1.3c-.9 1.7-2.1 3.1-3.7 4.1 2-2.1 3.4-4.7 4-7.6.2-.7.3-1.4.3-2.1.6 1.5.5 3.3-.6 5.6z'/%3E%3C/svg%3E");
}

.lista5 li {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.lista5 li+li {
    border-top: 1px solid lightblue;
}

.lista5 li:nth-child(3n)::marker {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.5 12.5c-.4-1.1-1.3-1.8-2.2-2-4.2-4-11.6-4.3-17.1-4.1-6.9.3-13.9 2.1-19.4 6.5C2 17.5-2.4 25.7 2.5 32.6c2.2 3.2 5.5 4.9 9 5.5 3.3 1.7 6.7 3.3 10.2 4.4 7.8 2.3 17 1.6 23.2-4.3 7.3-7 4.8-17.3 1.6-25.7zm-20.2 2.7c.6 0 1.3 0 1.8.2 1.1.4 1.7 1.3 2 2.3-1-1.2-2.4-2.1-3.8-2.5zm-1.4 6.6c.9.9 1.3 2.2-.2 2.3-2 .2-1.1-1.9.2-2.3zm-11.8 9.8c-.6-.3-2.9-1.1-3.2-1.8-.2-.5 1.4-3.1 2.1-4.2.3.5.7 1 1.2 1.4 0 .3.1.6.2.8.5 1.9 1.5 3.1 2.9 4h-.2c-.8.1-1.6.1-2.5-.1-.2 0-.3 0-.5-.1zM24 36.4c1.6-.7 3-1.5 4.3-2.5.8.2 1.7.3 2.5.5 2.5.4 5.2.9 7.7.6-.9.6-2 1.1-3 1.4-3.9 1.3-7.7 1-11.5 0z'/%3E%3C/svg%3E") "  ";
}



.lista5 li:nth-child(3n-1)::marker {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M48.3 23.7c-1-9.9-9.9-15.6-18.8-17.8-8.2-2.1-18.8-2.6-24.6 4.8C.6 16.2 1 23.6 4.3 29.3c-.5 1-.8 2-1 3-.6 4 2 7.6 5.1 10 5.9 4.4 14 4.2 19.6-.4 1.5 0 2.9-.2 4.4-.5 1.8 0 3.5 0 5.3-.1 2.3-.1 3.5-1.9 3.5-3.7 4.5-3.3 7.7-8.2 7.1-13.9zM9.1 17.8c1.1-4.1 4.9-5.8 8.8-6.1.9-.1 1.9-.1 2.9-.1-3.2 1.6-6.3 4.6-8 7.4-.1.1-.1.2-.2.3-1.1.9-2.1 1.9-3 2.9-.2.2-.4.4-.5.6-.4-1.7-.5-3.3 0-5z'/%3E%3C/svg%3E") "  ";
}



