a.button-1 {
    background-color: $orange;
    padding: 18px 40px;
    color: white;
    border-radius: 15px;
}

a.search {
    background-color: $orange;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 14px 14px;
}

