* {
    box-sizing: border-box;
}

/*--------Index Button--------*/
.index_button {
    font-size: large;
    padding: 10px 30px;
    background-color: gainsboro;
    border: 2px solid black;
    font-weight: bold;
}

.index_button:hover {
    background-color: gray;
    color: black;
}


/*-----Menu desplegable -------*/

nav > ul {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


ul.our_services {
    visibility: hidden;
    list-style: none;
    padding: 0;
}

nav li {
    padding: 20px 0px;
}

nav > ul > li > a {
    padding: 20px 30px;
    text-decoration: none;
    background-color: #31A6E6;
    color: white;
    font-weight: bold;
}

nav > ul > li > a:hover {
    background-color: black;
} 

ul.our_services {
    margin-top: 20px;
}

ul.our_services a {
    text-decoration: none;
    padding: 20px 28px;
    text-decoration: none;
    color: white;
}

ul.our_services li {
    background-color: #31A6E6;
    color: white;
    font-weight: bold;

}

ul.our_services li:hover {
    background-color: black;
}

nav > ul li:nth-of-type(2):hover ul{
    visibility: visible;
}


/*-----Sombras en Texto -------*/

div.text-1 {
    padding: 20px;
    background-color: #6CFAFC;
    display: inline-block;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px rgb(0,0,0, 0.5);
}


div.text-2 {
    padding: 20px;
    background-color: #FFF3CD;
    display: inline-block;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 5px 0px rgb(0,0,0, 0.2);
}

div.text-3 {
    padding: 20px;
    background-color: #6CFAFC;
    display: inline-block;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: -5px 5px 0px rgb(20, 20, 20),
                -10px 10px 0px rgb(74, 74, 74),
                -15px 15px 0px rgb(193, 193, 193)
                ;
}

div.text-4 {
    padding: 20px;
    background-color: #FFF3CD;
    display: inline-block;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 0px rgb(0,0,0, 0.5),
                2px 10px 0.5px rgb(0,0,0, 0.1);
}

div.text-5 {
    padding: 20px;
    background-color: #353535;
    display: inline-block;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(34, 34, 34);
    text-shadow: 1px 1px 0px rgb(225,225,225, 0.1),
    -1px -      1px 0px rgba(0, 0, 0);
}


/*-----Sombras en Cajas -------*/

div.caja-1 {
    padding: 40px 70px;
    background-color: #CED7EF;
    color: rgb(77, 77, 77);
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(20, 20, 20);
}

div.caja-2 {
    padding: 40px 70px;
    background-color: #CED7EF;
    color: rgb(77, 77, 77);
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(20, 20, 20) inset;
}

div.caja-3 {
    padding: 40px 70px;
    background-color: #CED7EF;
    color: rgb(77, 77, 77);
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(20, 20, 20);
}

div.caja-4 {
    padding: 40px 70px;
    background-color: #CED7EF;
    color: rgb(77, 77, 77);
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: -4px -4px 10px rgb(20, 20, 20);
}

div.caja-5 {
    padding: 40px 70px;
    background-color: #CED7EF;
    color: rgb(77, 77, 77);
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 15px 15px 0px rgb(52, 52, 52);
}


